{
	"plugins": ["prettier-plugin-tailwindcss"],
	"trailingComma": "es5",
	"tabWidth": 4,
	"semi": true,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"overrides": [
		{
			"files": "*.tsx",
			"options": {
				"singleQuote": true,
				"jsxSingleQuote": false
			}
		}
	]
}
